<style>
.header {
  height: 50px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.back-menu {
  font-size: 19px;
}

.left-section {
  width: 200px;
  background-color: aqua;
}

.right-section {
  flex: 1;
  max-width: 400px;
  display: flex;
  align-items: center;
}
.d-flex {
  display: flex;
  flex: 1;
  height: 40px;
}

.search-bar {
  flex: 1;
  font-size: 18px;
  padding-left: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(175, 175, 175);
  border-radius: 2px;
}
.search-bar::placeholder {
  font-size: 18px;
}

.serach-button {
  color: white;
  background-color: rgb(182, 182, 182);
  font-size: 16px;
  width: 80px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(175, 175, 175);
  margin-left: -1px;
  border-radius: 2px;
  transition: 0.15s;
  cursor: pointer;
}
.serach-button:hover {
  opacity: 0.5;
}

</style>

<nav class="navbar bg-dark">
  <div class="header">
    <div class="left-section">
      <a class="back-menu" href="{% url 'anagrafica:anagrafica-menu' %}">Menu anagrafica</a>
    </div>
    <div class="right-section" id="navbarSupportedContent">
      <form class="d-flex" role="search" method="POST" action="{% url 'anagrafica:search-anagrafica'%}"> {% csrf_token %}
        <input class="search-bar" type="search" placeholder="Cercare anagrafica" aria-label="Search" name="searched">
        <button class="serach-button" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
