<style>
.navbar-back {
  display: inline-block;
  margin-right: 20px;
  font-size: 19px;
  vertical-align: middle;
  margin-top: 5px;
}

.container-2 {
  display: inline-block;
  margin-top: 5px;

}

.inbox {
  height: 39px;
  width: 220px;
  border-radius: 8px;
  font-size: 18px;
  border: 1px solid #0c0f07;
}

.btn {
  color: white;
  background-color: rgb(137, 129, 129);
  height: 39px;
  width: 70px;
  border-radius: 8px;
  font-size: 16px;
  border: none;
  transition: 0.15s;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.5;
}

</style>

<nav class="navbar bg-dark">
  <div class="container">
    <a class="navbar-back" href="{% url 'anagrafica:anagrafica-menu' %}">Menu anagrafica</a>
    <div class="container-2" id="navbarSupportedContent">
      <form class="d-flex" role="search" method="POST" action="{% url 'anagrafica:search-anagrafica'%}"> {% csrf_token %}
        <input class="inbox me-2" type="search" placeholder="Cercare anagrafica" aria-label="Search" name="searched">
        <button class="btn" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
